<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>

<h3>Student Registration Form</h3>

<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
    <label>First name: <input type="text" th:field="*{firstName}" /></label>
    <br><br>

    <label>Last name: <input type="text" th:field="*{lastName}" /></label>
    <br><br>

    <label>Country:
        <select th:field="*{country}">
            <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"></option>
        </select>
    </label>
    <br><br>

    <label>Favorite Programming Language:</label>
    <input type="radio" th:field="*{favoriteLanguage}" value="Go">Go<br>
    <input type="radio" th:field="*{favoriteLanguage}" value="Java">Java<br>
    <input type="radio" th:field="*{favoriteLanguage}" value="Python">Python<br>
    <input type="radio" th:field="*{favoriteLanguage}" value="C/C++">C/C++<br>

    <br><br>

    <label>Favorite Operating System:</label>
    <input type="checkbox" th:field="*{favoriteSystem}"
                           th:each="tempSystem : ${systems}"
                           th:value="${tempSystem}"
                           th:text="${tempSystem}"/>

    <br><br>

    <input type="submit" value="Submit" />
</form>

</body>
</html>
